@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+4&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(https://i.pinimg.com/originals/40/1f/67/401f6777e4d6dec10688c873b1b7698e.jpg);
}
h1 {
  text-align: center;
  color: #999999;
  padding: 25px 0px;
  font-size: 45px;
  font-family: "Source Serif 4", sans-serif;
  text-shadow: 3px 2px 1px pink;
}
.header {
  height: 235px;
  margin: 30px;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
}
.container a {
  text-decoration: none;
  color: white;
}
.container a:hover {
  color: #999999;
}
.about-me,
.my-skills,
.contact-info {
  width: 300px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  background: #ffcccc;
  margin: 8px;
  padding-top: 10px;
  border: 1px solid #999999;
}
.main {
    margin: 45px;
    /* background-color: #ffcccc; */
    background-image: linear-gradient(175deg, #ffcccc, white);
  }
  h2 {
    padding: 25px;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    border-bottom: 1px solid white;
    width: 24%;
  }
  p {
    font-size: 22px;
    padding: 15px;
    font-family: "Source Serif 4", sans-serif;
  }
  .skills-ul {
    margin-left: 50px;
    font-size: 20px;
    font-family: "Source Serif 4", sans-serif;
  }
  .skills-ul li {
    padding: 5px;
  }
  section {
    padding: 20px;
  }
  .contact-ul {
    margin-left: 50px;
    font-size: 20px;
    font-family: "Source Serif 4", sans-serif;
  }
  .contact-ul li {
    padding: 5px;
  }
  .contact-ul a {
    text-decoration: none;
    color: #999999;
  }
  .contact-ul a:hover {
    color: #ffcccc;
  }
  span {
    color: #999999;
  }
    
    
  